<%- include( './header.ejs' ) %>

    <h2 class="l-title">Admin:</h2>

    <div class="vacation-box">

        <ul class="l-jobs">
            <li class="job">
                <a href="admin/categorias" class="link">Gerenciar categorias</a>
            </li>
            <li class="job">
                <a href="admin/vagas" class="link">Gerenciar vagas</a>
            </li>
        </ul>

    </div>

<%- include( './footer.ejs' ) %>