<%- include( '../header.ejs' ) %>

    <h2 class="l-title">Nova categoria: <a href="/admin/categorias">Categorias</a> </h2>

    <form method="post" class="vacation-form">

        <label for="category">Categoria:</label>
        <input type="text" class="input" name="category">

        <button type="submit" class="btn">Salvar</button>

    </form>
    

<%- include( '../footer.ejs' ) %>